$neutral: (
  100: #f3f5fe,
  200: #e4e7f5,
  300: #cfd3e5,
  400: #b2b6ca,
  500: #9397ab,
  600: #75798c,
  700: #595d6c,
  800: #3f424d,
  900: #292b31,
);

$accent: (
  100: #f5f4ff,
  200: #e7e5fe,
  300: #d2cefd,
  400: #b5abfc,
  500: #968ae0,
  600: #796cbf,
  700: #5d5294,
  800: #423a6a,
  900: #2b2741,
);

$accent-2: (
  100: #f5f4ff,
  200: #e7e5fe,
  300: #d2cefd,
  400: #b5afe8,
  500: #9690c9,
  600: #7972a9,
  700: #5c5783,
  800: #423e5d,
  900: #2b293a,
);

@mixin emit($name, $ramp) {
  @each $step, $value in $ramp {
    --color-#{$name}-#{$step}: #{$value};
  }
}
